<%- include('partials/header') %>

  <div class="jumbotron text-center">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Welcome, <%= name %>!</h1>
      <p class="secret-text"><%= secret %></p>
      <form action="/secrets" method="post">
        <label for="user-secret">New secret</label>
        <input type="text" id="user-secret" name="secret">
        <button type="submit">+ Add secret</button>
      </form>
      <hr>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    </div>
  </div>

  <%- include('partials/footer') %>